.p1{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;

}
.p2,.p3{
    margin-top: 0px;
    margin-bottom: 0;
    color: gray;
    width: 100%;
    line-height: 20px;
    font-size: 14px;

}
  p{
            
    font-style: arial;
   
    
}